$yellowish-white: #fbfbf9;
$yellowish-black: #330;

$turquoise: #23ccbe;
$light-turquoise: #b8d8d5;
$dark-turquoise: #01aa9c;

$link-gray: #292c3f;
$light-link-gray: #464b6b;
$dark-link-gray: #1b1d2a;

$light-gray: #ededed;
$dark-gray: #bbb;

$dark-blue: #182681; 
